* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cvbody {
    text-align: center;
    /*background-image: url('CVBG.jpg');
    background-size: cover;*/
    background-color: rgb(240, 225, 175);
}

body h1 {
    border-bottom: 1px solid black;
    margin: 70px;
}

.biography {
    padding-top: 40px;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 40px;
}

li {
    list-style-type: none;
    padding: 10px;
    padding-bottom: 35px;
}

img {
    max-width: 50%;
    max-height: auto;
    border-radius: 50px 50px 50px 50px;
}

@media (min-width: 600px) {

    .list-1,
    .list-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 75px;
    }

    .biography {
        padding-top: 0px;
        max-width: 400px;
        margin: 0 auto;
    }

    .photo-biography {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img {
        max-width: 60%;
    }

    body h2 {
        padding-top: 40px;
    }

    .left-bar,.right-bar {
        height: 100vh;
        width: 50px;
        position: fixed;
        top: 0;
    }

    .left-bar {
        background-color:rgb(220, 200, 170);
        left: 0;
    }

    .right-bar {
        background-color: rgb(220, 200, 170);
        right: 0;
    }
}

.contact-information {
    border: 1px solid black;
    display: inline-block;
    margin: auto;
}